In [75]:
import pandas as pd
import numpy as np
from scipy.stats import mannwhitneyu

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

-------
## Mann-Whitney U / Wilcoxon rank-sum Test

In [77]:
test_df = pd.DataFrame({
                        'control': 76 + np.random.uniform(-35, 35, 100000),
                        'test': 76.2 + np.random.uniform(-35, 35, 100000)
                       })

test_df.describe()

# Perform the Mann-Whitney U-test
statistic, pvalue = mannwhitneyu(test_df['control'], test_df['test'], 
                                             alternative='less')

# Print the results
print("Statistic:", statistic)
print("p-value:", pvalue)

# Interpret the results
alpha = 0.05
if pvalue < alpha:
    print("Reject null hypothesis: Test revenue is significantly higher than control revenue")
else:
    print("Fail to reject null hypothesis: Test revenue is not significantly higher than control revenue")

             control           test
count  100000.000000  100000.000000
mean       76.068932      76.181621
std        20.228324      20.203167
min        41.000008      41.200313
25%        58.498612      58.742249
50%        76.192124      76.146756
75%        93.581554      93.674017
max       110.998437     111.199699

Statistic: 4983920433.0
p-value: 0.10647129824742446
Fail to reject null hypothesis: Test revenue is not significantly higher than control revenue